<html>
<head>
<title>error</title>
<style>
.loginbtn{
    text-align:center;
    margin:0 10px;
}
.btn{
    text-align:center;
    color:white;
    background: #e60000;
    padding:5px 15px;
    font-size: 18px;
    cursor: pointer;
    margin:12px 0px;
    border-radius:7px;
}
.btn:hover{
  background:#ff1a1a;
   transform:scale(1.1);
}
</style>
</head>
<body>
<h2 style="text-align:center;">Your session has expired!! PLease login again to continue using our site</h2>
<div class="loginbtn">
     <input class="btn" type="submit" name="" value="Go to login page" onclick="window.location.href='http://127.0.0.1:8000/login'">
</div>
</body>
</html>